/*Jan Rainier Llarenas
Angular 2
Style Sheet*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.loading {
	opacity: 0;
	transition: visibility 0s .9s, opacity .9s linear;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #1976D2;
	z-index: -1;
}
/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */
app-root:empty ~ .loading{
	opacity: 1;
	z-index: 100;
}

.preloader {
	margin: 300px auto;
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

.preloader > div {
	background-color: #FFF;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;

	-webkit-animation: stretchdelay 0.7s infinite ease-in-out;
	animation: stretchdelay 0.7s infinite ease-in-out;
}

.preloader .circ2 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.preloader .circ3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.preloader .circ4 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.preloader .circ5 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: translateY(-10px) }  
	20% { -webkit-transform: translateY(-20px) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		} 20% {
			transform: translateY(-20px);
			-webkit-transform: translateY(-20px);
		}
	}